



               <div class="dividewhite4"></div>

               <div class="grid container-fluid ">

                  <div id="posts" class="row popup-container">

                     <div class="grid-item posters misc col-lg-4 col-md-4 col-sm-6 nopadding">
                        <div class="item-wrap">
                           <figure class="effect-goliath">
                              <img src="/images/portfolio/lightblue2.png" class="img-responsive" alt="img11"/>
                              <figcaption>
                                 <div class="fig-description">
                              <figcaption>
                                 <div class="fig-description">
                                    <h3>One</h3>
                                    <p>#media-objects #misc</p>
                                 </div>
                                 <%= link_to "New Project", "/users/#{current_user.id}/projects", method: :post %>
                              </figcaption>
                           </figure>
                        </div>
                     </div>
                     <div class="grid-item grid-sizer posters col-lg-4 col-md-4 col-sm-6 nopadding">
                        <div class="item-wrap">
                           <figure class="effect-goliath">
                              <img src="/images/portfolio/greenface.png" class="img-responsive" alt="img03"/>
                              <figcaption>
                                 <div class="fig-description">
                                    <h3>SVG Canvas</h3>
                                    <p>#newproject</p>
                                 </div>
                                 <%= link_to "New Project", "/users/#{current_user.id}/projects", method: :post %>
                              </figcaption>
                           </figure>
                        </div>
                     </div>
                     <div class="grid-item media-objects misc col-lg-4 col-md-4 col-sm-6 nopadding">
                        <div class="item-wrap">
                           <figure class="effect-goliath">
                              <img src="/images/portfolio/redface.png" class="img-responsive" alt="img11"/>
                              <figcaption>
                                 <div class="fig-description">
                                    <h3>SVG Canvas</h3>
                                    <p>#newproject</p>
                                 </div>
                                 <%= link_to "New Project", "/users/#{current_user.id}/projects", method: :post %>
                              </figcaption>
                           </figure>
                        </div>
                     </div>
                     <div class="grid-item media-objects misc col-lg-4 col-md-4 col-sm-6 nopadding">
                        <div class="item-wrap">
                           <figure class="effect-goliath">
                              <img src="/images/portfolio/orangeface.png" class="img-responsive" alt="img03"/>
                              <figcaption>
                                 <div class="fig-description">
                                    <h3>SVG Canvas</h3>
                                    <p>#newproject</p>
                                 </div>
                                 <%= link_to "New Project", "/users/#{current_user.id}/projects", method: :post %>
                              </figcaption>
                           </figure>
                        </div>
                     </div>

                     <div class="grid-item posters media-objects col-lg-4 col-md-4 col-sm-6 nopadding">
                        <div class="item-wrap">
                           <figure class="effect-goliath">
                              <img src="/images/portfolio/blueface.png" class="img-responsive" alt="img11"/>
                              <figcaption>
                                 <div class="fig-description">
                                    <h3>SVG Canvas</h3>
                                    <p>#newproject</p>
                                 </div>
                                 <%= link_to "New Project", "/users/#{current_user.id}/projects", method: :post %>
                              </figcaption>
                           </figure>
                        </div>
                     </div>
                     <div class="grid-item media-objects misc col-lg-4 col-md-4 col-sm-6 nopadding">
                        <div class="item-wrap">
                           <figure class="effect-goliath">
                              <img src="/images/portfolio/violetface.png" class="img-responsive" alt="img03"/>
                              <figcaption>
                                 <div class="fig-description">
                                    <h3>SVG Canvas</h3>
                                    <p>newproject</p>
                                 </div>
                                 <%= link_to "New Project", "/users/#{current_user.id}/projects", method: :post %>
                              </figcaption>
                           </figure>
                        </div>
                     </div>
                     <div class="grid-item posters col-lg-4 col-md-4 col-sm-6 nopadding">
                        <div class="item-wrap">
                           <figure class="effect-goliath">
                              <img src="/images/portfolio/yellowface.png" class="img-responsive" alt="img03"/>
                              <figcaption>
                                 <div class="fig-description">
                                    <h3>SVG Canvas</h3>
                                    <p>#newproject</p>
                                 </div>
                                 <%= link_to "New Project", "/users/#{current_user.id}/projects", method: :post %>
                              </figcaption>
                           </figure>
                        </div>
                     </div>
                     <div class="grid-item posters media-objects col-lg-4 col-md-4 col-sm-6 nopadding">
                        <div class="item-wrap">
                           <figure class="effect-goliath">
                              <img src="/images/portfolio/lightblueface.png" class="img-responsive" alt="img03"/>
                              <figcaption>
                                 <div class="fig-description">
                                    <h3>SVG Canvas</h3>
                                    <p>#newcanvas</p>
                                 </div>
                                 <%= link_to "New Project", "/users/#{current_user.id}/projects", method: :post %>
                              </figcaption>
                           </figure>
                        </div>
                     </div>

                     <div class="grid-item posters col-lg-4 col-md-4 col-sm-6 nopadding">
                        <div class="item-wrap">
                           <figure class="effect-goliath">
                              <img src="/images/portfolio/greenface2.png" class="img-responsive" alt="img03"/>
                              <figcaption>
                                 <div class="fig-description">
                                    <h3>SVG Canvas</h3>
                                    <p>#newproject</p>
                                 </div>
                                 <%= link_to "New Project", "/users/#{current_user.id}/projects", method: :post %>
                              </figcaption>
                           </figure>
                        </div>
                     </div>
                     <div class="grid-item media-objects col-lg-4 col-md-4 col-sm-6 nopadding">
                        <div class="item-wrap">
                           <figure class="effect-goliath">
                              <img src="/images/portfolio/redface2.png" class="img-responsive" alt="img03"/>
                              <figcaption>
                                 <div class="fig-description">
                                    <h3>SVG Canvas</h3>
                                    <p>#newproject </p>
                                 </div>
                                 <%= link_to "New Project", "/users/#{current_user.id}/projects", method: :post %>
                              </figcaption>
                           </figure>
                        </div>
                     </div>
                     <div class="grid-item media-objects posters col-lg-4 col-md-4 col-sm-6 nopadding">
                        <div class="item-wrap">
                           <figure class="effect-goliath">
                              <img src="/images/portfolio/violet2.png" class="img-responsive" alt="img12"/>
                              <figcaption>
                                 <div class="fig-description">
                                    <h3>SVG Canvas</h3>
                                    <p>#newproject</p>
                                   
                                 </div>
                                 <%= link_to "New Project", "/users/#{current_user.id}/projects", method: :post %>
                              </figcaption>
                           </figure>
                        </div>
                     </div>
                     <div class="grid-item posters media-objects col-lg-4 col-md-4 col-sm-6 nopadding">
                        <div class="item-wrap">
                           <figure class="effect-goliath">
                              <img src="/images/portfolio/yellow2.png" class="img-responsive" alt="img03"/>
                              <figcaption>
                                 <div class="fig-description">
                                    <h3>SVG Canvas</h3>
                                    <p>#newproject</p>
                                 </div>
                                 <%= link_to "New Project", "/users/#{current_user.id}/projects", method: :post %>
                              </figcaption>
                           </figure>
                        </div>
                     </div>

                  </div>

               </div>

            </div>
         </section>
                           <%= yield %>
         <!-- /Portfolio Block 

