           <h1>SAVE FACE</h1>
            <% @projects.each do |project| %>
            <h1><a href="/projects/<%= project.id %>"><%= project.title %></a></h1>
            <h4><%= project.title %></h4>
            <h4><%= project.face %></h4>
            <h4><%= project.eyes %></h4>
            <h4><%= project.mouth %></h4>
            <% end %>
                          <%= link_to "Log In", "/login" %>
                            <%= link_to "Sign Up", "/signup" %>






                             <%= link_to "Finalize/Share Project", "/users/#{@user.id}/projects", method: :post %>  #used to be on projects show page

                              <%= link_to "Saved Projects", "/users/#{ current_user.id }/projects", method: :get %> #used to be on projects show page