 <h1>SVG CANVAS</h1> 
 <h1>Hi <%= current_user.first_name%> <%= current_user.last_name %>!</h1>

                      
 
<%= form_tag "/users/#{current_user.id}/projects/#{@project.id}", method: :patch do %>





        
            <%= link_to "Saved Projects", "/users/#{ current_user.id }/projects", method: :get %> 

               

                           

                      <!-- if project.completed != true   --> 



                                 <%= link_to "New Project", "/users/#{@user.id}/projects", method: :post %> 
                                 <%= link_to "Delete Project", "/users/#{@user.id}/projects/#{@project.id}", method: :delete %> 
                                 <%= link_to "Finalize/Share Project", "/users/#{@user.id}/projects", method: :post %> 

<!-- VUE START -->
<div id="app">
  <svg id="place" height="500" width="500">
  <g id="face-group">
    <g v-if="currentFace === 'circle'">
       <circle cx="250" cy="250" r="200" stroke="black" stroke-width="3" fill="#CA0"/>
    </g>
     <g v-if="currentFace === 'rectangle'">
       <rect x="67.76" y="114.123" width="231.098" height="234.665" style="paint-order: stroke markers; stroke-linecap: square; stroke-linejoin: bevel; stroke-width: 25; fill: rgb(34, 195, 147); stroke: rgb(186, 218, 85);" transform="matrix(0.9999999999999999, 0, 0, 0.9999999999999999, 0, 0)"/>
     </g>
      <g v-if="currentFace === 'black-circle'">
       <ellipse cx="225.619" cy="242.722" rx="141.194" ry="139.374" style="stroke-width: 13; stroke: rgb(78, 96, 210); fill: rgb(16, 16, 17);" transform="matrix(1, 0, 0, 1, -7.105427357601002e-15, 0)">
     </g>
   </g>

     <!-- <g v-if="currentFace === 'triangle'">
     </g> -->

     <!-- MOUTH GROUP START -->
    <g id="mouth-group">
      <g v-if="currentMouth === 'smirk'">
        <ellipse cx="200" cy="340" rx="80" ry="35" fill="black" />
        <ellipse cx="205" cy="335" rx="83" ry="35" fill="#CA0"/>
      </g>
      <g v-if="currentMouth === 'frown'">
        <ellipse cx="250" cy="340" rx="123" ry="55" fill="#CA0" stroke="black" stroke-width="10" />
        <ellipse cx="250" cy="350" rx="123" ry="55" fill="#CA0"/>
      </g>
      <g v-if="currentMouth === 'smile'">
        <ellipse cx="250" cy="310" rx="132" ry="80" fill="white" stroke="black" stroke-width="10" />
        <ellipse cx="250" cy="270" rx="130" ry="80" fill="#CA0" stroke="black" stroke-width="10" />
        <ellipse cx="250" cy="260" rx="140" ry="80" fill="#CA0"/>
      </g>
      <g  v-if="currentMouth === 'red-circle'">
        <path transform="matrix(-0.77137291431427, 0.636381983757019, -0.6363839507102966, -0.7713719606399536, 806.2634887695312, 423.3971557617187)" d="M 365 458 m -37.741 0 a 37.741 37.741 0 1 0 75.482 0 a 37.741 37.741 0 1 0 -75.482 0 Z M 365 458 m -22.644 0 a 22.644 22.644 0 0 1 45.288 0 a 22.644 22.644 0 0 1 -45.288 0 Z" style="fill: rgb(208, 8, 25);" bx:shape="ring 365 458 22.644 22.644 37.741 37.741 1@07ce7072">
      </g>
    <!-- MOUTH GROUP END -->

    <g id="left-eye-group">
      <g v-if="currentLeftEye === 'left-eye'">
        <ellipse cx="200" cy="180" rx="45" ry="65" style="fill:white;stroke:black;stroke-width:2"/>
        <g id="left-pupil-group">
          <circle class="pupil-down pupil" cx="200" cy="220" r="23" stroke="black" stroke-width="3" fill="black" >
        </g>
      </g>


       <g v-if="currentRightEye === 'right-star-eye'">
          <path d="M 278.952 181.602 L 286.053 203.016 L 307.678 203.478 L 290.442 217.174 L 296.705 238.874 L 278.952 225.925 L 261.199 238.874 L 267.462 217.174 L 250.226 203.478 L 271.851 203.016 Z" style="fill: rgb(221, 226, 68);" transform="matrix(1, 0, 0, 1, -7.105427357601002e-15, 0)" bx:shape="star 278.952 213.261 30.204 31.659 0.4 5 1@60529f8c"> 
          <!-- <circle class="pupil-up pupil" cx="200" cy="140" r="23" --> <!-- stroke="black" stroke-width="3" fill="black" /> -->
        </g>

        <g v-if="currentLeftEye === 'left-star-eye'">
        <path d="M 180.713 183.504 L 187.814 204.918 L 209.439 205.38 L 192.203 219.076 L 198.466 240.776 L 180.713 227.827 L 162.96 240.776 L 169.223 219.076 L 151.987 205.38 L 173.612 204.918 Z" style="fill: rgb(221, 226, 68);" transform="matrix(1, 0, 0, 1, -7.105427357601002e-15, 0)" bx:shape="star 180.713 215.163 30.204 31.659 0.4 5 1@28d34468">
        </g>


    </g>

    <g id="right-eye-group">
     <g v-if="currentRightEye === 'cartoon-eye'">
        <ellipse cx="300" cy="180" rx="45" ry="65" style="fill:white;stroke:black;stroke-width:2"/>
        <g id="right-pupil-group">
          <circle class="pupil-down pupil" cx="300" cy="220" r="23" stroke="black" stroke-width="3" fill="black" />
          <!-- <circle class="pupil-up pupil" cx="300" cy="140" r="23" stroke="black" stroke-width="3" fill="black" /> -->
        </g>
     </g>
    </g>

  </svg>
  <h2>Faces</h2>
  <ul id="face-buttons">
    <li v-on:click="changeFace('circle')">circle</li>
    <li v-on:click="changeFace('rectangle')">rectangle</li>
    <li v-on:click="changeFace('triangle')">triangle</li>
    <li v-on:click="changeFace('black-circle')">black circle</li>
  </ul>
  <h2>Mouths</h2>
  <ul id="mouth-buttons">
    <li v-on:click="changeMouth('smirk')">smirk</li>
    <li v-on:click="changeMouth('smile')">smile</li>
    <li v-on:click="changeMouth('frown')">frown</li>
    <li v-on:click="changeMouth('red-circle')">red circle</li>
  </ul>
  <h2>Eyes</h2>
  <ul id="eye-buttons">
    <li v-on:click="changeLeftEye('left-eye')">down</li>
    <li v-on:click="changeRightEye('cartoon-eye')">up</li>
    <li v-on:click="changeLeftEye('left-star-eye')">Left Star Eye</li>
    <li v-on:click="changeRightEye('right-star-eye')">Right Star Eye</li>
  </ul>



 
</div>
<!-- VUE END -->
<% end %>



