 <h1>SVG CANVAS</h1> 
 <h1>Hi <%= current_user.first_name%> <%= current_user.last_name %>!</h1>

                      
 
<%= form_tag "/users/#{current_user.id}/projects/#{@project.id}", method: :patch do %>





        
            <%= link_to "Saved Projects", "/users/#{ current_user.id }/projects", method: :get %> 

               

                           

                      <!-- if project.completed != true   --> 



                                 <%= link_to "New Project", "/users/#{@user.id}/projects", method: :post %> 
                                 <%= link_to "Delete Project", "/users/#{@user.id}/projects/#{@project.id}", method: :delete %> 
                                 <%= link_to "Finalize/Share Project", "/users/#{@user.id}/projects", method: :post %> 

<div id="app">
  <svg id="place" height="500" width="500">
  <g id="face-group">
    <g v-if="currentFace === 'circle'">
       <circle cx="250" cy="250" r="200" stroke="black" stroke-width="3" fill="#CA0" />
    </g>
     <g v-if="currentFace === 'rectangle'">
       <rect x="67.76" y="114.123" width="231.098" height="234.665" style="paint-order: stroke markers; stroke-linecap: square; stroke-linejoin: bevel; stroke-width: 25; fill: rgb(34, 195, 147); stroke: rgb(186, 218, 85);" transform="matrix(0.9999999999999999, 0, 0, 0.9999999999999999, 0, 0)"/>
     </g>

     <g v-if="currentFace === 'triangle'">
     </g>
    <g id="mouth-group">
      <g v-if="currentMouth === 'smirk'">
        <ellipse cx="200" cy="340" rx="80" ry="35" fill="black" />
        <ellipse cx="205" cy="335" rx="83" ry="35" fill="#CA0"/>
      </g>
      <g v-if="currentMouth === 'frown'">
        <ellipse cx="250" cy="340" rx="123" ry="55" fill="#CA0" stroke="black" stroke-width="10" />
        <ellipse cx="250" cy="350" rx="123" ry="55" fill="#CA0"/>
      </g>
      <g v-if="currentMouth === 'smile'">
        <ellipse cx="250" cy="310" rx="132" ry="80" fill="white" stroke="black" stroke-width="10" />
        <ellipse cx="250" cy="270" rx="130" ry="80" fill="#CA0" stroke="black" stroke-width="10" />
        <ellipse cx="250" cy="260" rx="140" ry="80" fill="#CA0"/>
      </g>
    </g>
    <g id="left-eye-group">
    <g v-if="currentEye === 'left-eye'">
      <ellipse cx="200" cy="180" rx="45" ry="65" style="fill:white;stroke:black;stroke-width:2"/>
      <g id="left-pupil-group">
        <circle class="pupil-down pupil" cx="200" cy="220" r="23" stroke="black" stroke-width="3" fill="black" />
        <circle class="pupil-up pupil" cx="200" cy="140" r="23" stroke="black" stroke-width="3" fill="black" />
      </g>
    </g>
    <g class="eye" id="right-eye-group">
      <ellipse cx="300" cy="180" rx="45" ry="65" style="fill:white;stroke:black;stroke-width:2"/>
      <g id="right-pupil-group">
        <circle class="pupil-down pupil" cx="300" cy="220" r="23" stroke="black" stroke-width="3" fill="black" />
        <circle class="pupil-up pupil" cx="300" cy="140" r="23" stroke="black" stroke-width="3" fill="black" />
      </g>
    </g>
  </svg>
  <h2>Faces</h2>
  <ul id="face-buttons">
    <li v-on:click="changeFace('circle')" value="circle">circle</li>
    <li v-on:click="changeFace('rectangle')" value="rectangle">rectangle</li>
    <li v-on:click="changeFace('triangle')" value="triangle">triangle</li>
  </ul>
  <h2>Mouths</h2>
  <ul id="mouth-buttons">
    <li v-on:click="changeMouth('smirk')" value="smirk">smirk</li>
    <li v-on:click="changeMouth('smile')" value="smile">smile</li>
    <li v-on:click="changeMouth('frown')" value="frown">frown</li>
  </ul>
  <h2>Eyes</h2>
  <ul id="eye-buttons">
    <li v-on:click="changeEye('down')" value="pupil-down">down</li>
    <li v-on:click="changeEye('up')" value="pupil-up">up</li>
  </ul>



 
</div>
<% end %>



