 <h1>SVG CANVAS</h1> 
 <h1>Hi <%= current_user.first_name%> <%= current_user.last_name %>!</h1>

                            
                      <div>
                        <li>Make Face Library</li>
                        <li>Face Color Library</li>
                        <li>Eye Library</li>
                        <li>Nose Library</li>
                        <li>Mouth Library</li>
                      </div>   
 
<%= form_tag "/projects", method: :patch do %>
<div>
Title: <input type="text" name= "name" value="<%= @project.title %>">
 </div>
<div>
Face: <input type="text" name= "face"  value="<%= @project.face %>">
 </div>
<div>
<div>
Face Color: <input type="text" name= "face_color" value="<%= @project.face_color %>">
 </div>
</div>
<div>
Eyes: <input type="text" name= "eyes" value="<%= @project.eyes %>">
 </div>
</div>
<div>
Nose: <input type="text" name= "nose" value="<%= @project.nose %>">
 </div>
</div>
<div>
Mouth: <input type="text" name= "mouth" value="<%= @project.mouth %>">
 </div>
 </div>
<div>

<input type="submit" value="create">
 </div>
 <% end %>




        
            <%= link_to "Saved Projects", "/users/#{ current_user.id }/projects", method: :get %> 

               

                           

                      <!-- if project.completed != true   --> 



                                 <%= link_to "New Project", "/users/#{@user.id}/projects", method: :post %> 
                                 <%= link_to "Delete Project", "/users/#{@user.id}/projects/#{@project.id}", method: :delete %> 
                                 <%= link_to "Finalize/Share Project", "/users/#{@user.id}/projects", method: :post %> 
                            



